.lista-usuario{
    background-color: beige;
    width: 100%;
    margin: auto;
    height: 100vh;
}

.lista-usuario table thead{
    background-color: #ddd;
}

.lista-usuario tr{
    border: 1px solid black;
}

.lista-usuario td{
    border: 1px solid black;
}