.lista-produtos{
    background-color: beige;
    margin: auto;
    height: 100vh;
}

.lista-produtos thead{
    background-color: #ddd;
}

.lista-produtos tr{
    border: 1px solid black;
}

.lista-produtos td{
    border: 1px solid black;
}